src/main/resources/infoplus/rit/ri-cdm-rit-v5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DATUM      VER CHANGE DESCIPTION                                                                    -->
<!-- 2015-09-07	1.1	Wijziging in PresentatieElementen                                                    -->
<!-- 2017-08-02	2.0	Wijzigingen nieuwe RitInfo (Trein) vanuit InfoPlus                                   -->
<!-- 2017-09-06	2.1	Wijzigingen in GeefActueleRitTijdenResponseMessage voor pull service                 -->
<!-- 2017-09-25	2.2	Wijzigingen n.a.v. overleg InfoPlus/OBIS                                             -->
<!-- 2017-09-28	2.3	Restrictie van RitInfoVersiueType verwijderd.                                        -->
<!-- 2017-10-24	2.4	LogischeRitDeelstations van occurence 2..n naar 1..n voor OVT.                       -->
<!-- 2017-11-28	2.5	Datum/Tijd in pull request naar alleen datum.                                        -->
<!-- 2017-12-04	2.6	Documentatie TreinDatum aangepast.                                                   -->
<!-- 2018-02-09	2.7	Wijzigingen voor Ritinfo Trein/Planner.                                              -->
<!-- 2018-03-23	2.8	Toevoegen nieuwe elementen MaterieelDeel; weghalen Materieelinfo-spoorinfo en        -->
<!--                Ritinfo/Wijzigingen.                                                                 -->
<!-- 2019-03-18 3.0 StationnementType N toegevoegd voor NVR (Niet Voor Reizigers) stop.                  -->
<!-- 2023-04-25 4.0 Meertaligheid uitgebreid (FR/DE), Halteplaatsen toegevoegd -->
<!-- 2024-04-02 5.0 Herkenbare Bestemming en InstapTip toegevoegd -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:ns:cdm:reisinformatie:data:rit:5" targetNamespace="urn:ns:cdm:reisinformatie:data:rit:5" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="ri-cdm-common-v5.xsd"/>
	<xsd:element name="ReisInformatieProductRitInfo" type="ReisInformatieProductRitInfoType">
		<xsd:annotation>
			<xsd:documentation>
                Een reisinformatieProduct van CRIS met als inhoud een RitInfo. 
                Deze wordt door CRIS aangemaakt en uitgestuurd.
            </xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActueleRitTijdenType">
		<xsd:annotation>
			<xsd:documentation>
                Het element ActueleRitTijden bevat de geplande en actuele gegevens van één gehele rit
                op één bepaalde geldigheidsdatum.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ReisInformatieProductID" type="ReisInformatieProductIDType"/>
			<xsd:element name="RitInfo" type="TreinRitType"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="RitInfoAanmaaktijd" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="HerkenbareBestemmingType">
		<xsd:sequence>
			<xsd:element name="Station" type="StationType"/>
			<xsd:element name="PresentatieHerkenbareBestemming" type="MeertaligeUitingenType" />

		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleRitTijdenFaultMessageType">
		<xsd:annotation>
			<xsd:documentation>Foutbericht van een pull request actuele rittijden.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Foutnummer" type="FoutnummerType"/>
			<xsd:element name="Omschrijving" type="xsd:string"/>
			<xsd:element name="GeefActueleRitTijdenRequestMessage" type="GeefActueleRitTijdenRequestMessageType"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleRitTijdenRequestMessageType">
		<xsd:annotation>
			<xsd:documentation>De vraag voor het pull request actuele rittijden.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TreinNummer" type="treinnummer">
				<xsd:annotation>
					<xsd:documentation>Startend treinnummer van de actuele rit.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TreinDatum" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
                        Als de TreinDatum niet is ingevuld wordt het RitInfo bericht met de huidige datum (lokaal) geretourneerd.
                    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TaalCodes" type="TaalCodesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
                        Als er het TaalCodes element ontbreekt dan wordt de Nederlandse redactie gebruikt.
                    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Aanvrager" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Geeft aan wie de aanvrager is (voor statistieken).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer deze vraag is gesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GeefActueleRitTijdenResponseMessageType">
		<xsd:annotation>
			<xsd:documentation>Response van het pull request van actuele rittijden.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="BerichtStatus" type="xsd:int">
				<xsd:annotation>
					<xsd:documentation>
                        Status van het antwoord. 
                        10=succesvolle afhandeling, 20=geen actuele reisinformatie beschikbaar. 30=geen reisinformatie beschikbaar.
                    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GeefActueleRitTijdenRequestMessage" type="GeefActueleRitTijdenRequestMessageType"/>
			<xsd:element name="ActueleRitTijden" type="ActueleRitTijdenType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="TimeStamp" type="xsd:dateTime" use="required">
			<xsd:annotation>
				<xsd:documentation>Geeft de datum en tijd weer  wanneer het antwoord is samengesteld.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GewijzigdMaterieelType">
		<xsd:annotation>
			<xsd:documentation>Dit element geeft het gewijzigde materieel aan.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MaterieelDeelID" type="MaterieelDeelIDType"/>
			<xsd:element name="MaterieelNummer" type="MaterieelNummerType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InstapTipType">
		<xsd:annotation>
			<xsd:documentation>Het element InstapTip bevat instapinformatie.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="InstapTipTreinSoort" type="InstapTipTreinSoortType"/>
			<xsd:element name="InstapTipUitstapStation" type="StationType"/>
			<!--Station liggend op de route tussen het huidige station en de InstapTipEindBestemming.-->
			<xsd:element name="InstapTipTreinEindBestemming" type="StationType"/>
			<!-- Station dat volgens de actuele aankomsttijden door een andere rit met een latere actuele vertrektijd, eerder wordt bereikt.-->
			<xsd:element name="InstapTipVertrekTijd" type="xsd:dateTime"/>
			<!-- Eerstvolgende geplande vertrektijd, na actuele vertrektijd van de huidige rit, van een rit die volgens zijn actuele aankomsttijd eerder dan de huidige rit op de InstapTipBestemming zal aankomen. -->
			<xsd:element name="InstapTipVertrekSpoor" type="SpoorType" maxOccurs="2"/>
			<!-- Het actuele vertrekspoor van de alternatieve trein. -->
			<xsd:element name="PresentatieInstapTip" type="MeertaligeUitingenType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LogischeRitDeelType">
		<xsd:annotation>
			<xsd:documentation>Een deel van een logische rit en bestaat uit een (deel van) logistieke rit.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LogischeRitDeelNummer" type="treinnummer"/>
			<xsd:element name="LogischeRitDeelStation" type="RitStationsType" maxOccurs="unbounded"/>
			<xsd:element name="Wijziging" type="WijzigingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LogischeRitType">
		<xsd:annotation>
			<xsd:documentation>
                Een logische rit begint bij het begin van een logistieke rit. 
                Een logische rit is de langste rit die met één gepland materieeldeel kan worden uitgevoerd. 
                Een logische rit kan bestaan uit meerdere (delen van) logistieke ritten als er sprake is van een of 
                meerdere doorgaande verbindingen.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LogischeRitNummer" type="LogischeRitNummerType"/>
			<xsd:element name="LogischeRitDeel" type="LogischeRitDeelType" maxOccurs="unbounded"/>
			<xsd:element name="Wijziging" type="WijzigingType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MaterieelDeelRITInfoType">
		<xsd:annotation>
			<xsd:documentation>Beschrijving van een fysiek stuk materieel dat deelneemt aan de beschreven rit.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MaterieelDeelID" type="MaterieelDeelIDType"/>
			<xsd:element name="MaterieelDeelSoort" type="MaterieelDeelSoortType"/>
			<xsd:element name="MaterieelDeelAanduiding" type="MaterieelDeelAanduidingType"/>
			<xsd:element name="MaterieelDeelLengte" type="MaterieelDeelLengteType"/>
			<xsd:element name="MaterieelDeelVertrekPositie" type="MaterieelDeelVertrekPositieType" minOccurs="0"/>
			<xsd:element name="MaterieelDeelVolgordeVertrek" type="MaterieelDeelVolgordeVertrekType" minOccurs="0"/>
			<xsd:element name="MaterieelNummer" type="MaterieelNummerType" minOccurs="0"/>
			<xsd:element name="MaterieelDeelToegankelijk" type="MaterieelDeelToegankelijkType" minOccurs="0"/>
			<xsd:element name="PresentatieMaterieelDeelToegankelijk" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="MaterieelDeelEindBestemming" type="StationPlannedActueelType" minOccurs="2" maxOccurs="2"/>
			<xsd:element name="PresentatieMaterieelDeelEindBestemming" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="AchterBlijvenMaterieelDeel" type="AchterBlijvenMaterieelDeelType"/>
			<xsd:element name="MaterieelDeelVolgendeLogischeRitDeel" type="MaterieelDeelVolgendeLogischeRitDeelType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
                        Het volgend TreinNummer waar het genoemde materieeldeel onder verder rijdt. 
                        Wordt alleen vermeld op het RitStation waar sprake is van een doorgaandeverbinding voor de trein.
                    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MaterieelDeelVolgendeLogischeRitDeelType">
		<xsd:annotation>
			<xsd:documentation>
                Het volgend TreinNummer van een Trein op een bepaald RitStation voor een trein op een bepaalde verkeers-/patroondag.
                Deze kan bepaald worden op basis van de materieelrelatie.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LogischeRitDeelNummer" type="treinnummer"/>
			<xsd:element name="TreinDatum" type="TreinDatumType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MaterieelWijzigingType">
		<xsd:annotation>
			<xsd:documentation>Dit element geeft aan welke materieel wijzigingen er op dit station plaatsvinden</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MaterieelWijzigingType" type="MaterieelWijzigingTypeType"/>
			<xsd:element name="GewijzigdMaterieel" type="GewijzigdMaterieelType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReisInformatieProductRitInfoType">
		<xsd:annotation>
			<xsd:documentation>
                Het element RITInfo bevat de geplande en actuele gegevens van één gehele rit op één bepaalde geldigheidsdatum.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RIPAdministratie" type="RIPAdministratieType"/>
			<xsd:element name="RitInfo" type="TreinRitType"/>
		</xsd:sequence>
		<xsd:attribute name="Versie" type="RitInfoVersietype" use="optional"/>
		<xsd:attribute name="TimeStamp" type="RitInfoAanmaaktijd" use="required"/>
		<xsd:attribute name="ApplicatieVersie" type="RitInfoApplicatieVersietype" use="optional"/>
		<xsd:anyAttribute namespace="##other" processContents="skip"/>
	</xsd:complexType>
	<xsd:complexType name="RitStationsType">
		<xsd:annotation>
			<xsd:documentation>
                De verzameling van stations waar één of meerdere logische ritten langs gaan volgens de planning inclusief
                eventuele extra ritstations.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Station" type="StationType"/>
			<xsd:element name="StationToegankelijk" type="StationToegankelijkType" minOccurs="0"/>
			<xsd:element name="PresentatieStationToegankelijk" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="StationReisAssistentie" type="StationReisAssistentieType" minOccurs="0"/>
			<xsd:element name="PresentatieStationReisAssistentie" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="TreinEindBestemming" type="StationPlannedActueelType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="PresentatieTreinEindBestemming" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="Stopt" type="StoptType" minOccurs="0" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>
                        Indicatie of de trein wel (=”J”) of niet (=”N”) op het desbetreffende ritstation stopt. 
                        Het element komt niet voor of het komt zowel gepland als actueel voor. 
                        Het attribuut InfoStatus bevat hiertoe de waarde 'Actueel' en 'Gepland'
                    </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InstapTip" minOccurs="0" maxOccurs="unbounded" type="InstapTipType">
				<xsd:annotation>
					<xsd:documentation>Het element InstapTip bevat instapinformatie.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HerkenbareBestemming" minOccurs="0" type="HerkenbareBestemmingType">
				<xsd:annotation>
					<xsd:documentation>Het element HerkenbareBestemming is een station dat op de route van een treinrit voor reizigers beter aanduidt
						waar de trein heenrijdt dan de feitelijke eindbestemming. Met daarbij de meertalige presentatieteksten.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AankomstTijd" type="AankomstOfVertrekTijdType" minOccurs="0" maxOccurs="2"/>
			<xsd:element name="ExacteAankomstVertraging" type="ExacteVertragingType" minOccurs="0"/>
			<xsd:element name="PresentatieAankomstVertraging" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="GedempteAankomstVertraging" type="GedempteVertragingType" minOccurs="0"/>
			<xsd:element name="TreinAankomstSpoor" type="SpoorPlannedActueelType" minOccurs="0" maxOccurs="4"/>
			<xsd:element name="PresentatieTreinAankomstSpoor" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="UitstapHalteplaats" type="HalteplaatsPlannedActueelType" minOccurs="0" maxOccurs="4"/>
			<xsd:element name="VertrekTijd" type="AankomstOfVertrekTijdType" minOccurs="0" maxOccurs="2"/>
			<xsd:element name="ExacteVertrekVertraging" type="ExacteVertragingType" minOccurs="0"/>
			<xsd:element name="PresentatieVertrekVertraging" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="GedempteVertrekVertraging" type="GedempteVertragingType" minOccurs="0"/>
			<xsd:element name="TreinVertrekSpoor" type="SpoorPlannedActueelType" minOccurs="0" maxOccurs="4"/>
			<xsd:element name="PresentatieTreinVertrekSpoor" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="InstapHalteplaats" type="HalteplaatsPlannedActueelType" minOccurs="0" maxOccurs="4"/>
			<xsd:element name="StationnementType" type="StationnementTypeType" minOccurs="0"/>
			<xsd:element name="MaterieelDeel" type="MaterieelDeelRITInfoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="NietInstappen" type="NietInstappenType" minOccurs="0"/>
			<xsd:element name="PresentatieNietInstappen" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="TreinRangeertVolledigAf" type="TreinRangeertVolledigAfType" minOccurs="0"/>
			<xsd:element name="MaterieelWijziging" type="MaterieelWijzigingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Wijziging" type="WijzigingType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="StoptType">
		<xsd:annotation>
			<xsd:documentation>
                Indicatie of de trein wel (=”J”) of niet (=”N”) op het desbetreffende ritstation stopt. 
                Het element komt zowel gepland als actueel voor. 
                Het attribuut InfoStatus bevat hiertoe de waarde 'Actueel' en 'Gepland'
            </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="indicatie">
				<xsd:attribute name="InfoStatus" type="infoStatus" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TreinRitType">
		<xsd:annotation>
			<xsd:documentation>
                Het element TreinRit bevat informatie over de trein en alle logische ritten die met het materieel
                van deze trein afgelegd worden.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TreinNummer" type="treinnummer"/>
			<xsd:element name="TreinDatum" type="TreinDatumType"/>
			<xsd:element name="TreinNaam" type="TreinNaamType" minOccurs="0"/>
			<xsd:element name="TreinSoort" type="TreinSoortType" minOccurs="0"/>
			<xsd:element name="LijnNummer" type="LijnNummerType" minOccurs="0"/>
			<xsd:element name="Vervoerder" type="VervoerderType" minOccurs="0"/>
			<xsd:element name="Reserveren" type="ReserverenType"/>
			<xsd:element name="PresentatieReserveren" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="Toeslag" type="ToeslagType"/>
			<xsd:element name="PresentatieToeslag" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="SpeciaalKaartje" type="SpeciaalKaartjeType"/>
			<xsd:element name="PresentatieSpeciaalKaartje" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="Reisplanner" type="ReisplannerType"/>
			<xsd:element name="LogischeRit" type="LogischeRitType" maxOccurs="unbounded"/>
			<xsd:any namespace="##other" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="VertragingStationType">
		<xsd:annotation>
			<xsd:documentation>Het station waar gewijzigde aankomst en vertrektijden naar doorberekend zijn.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="StationCode" type="StationCodeType"/>
			<xsd:element name="AankomstTijd" type="AankomstOfVertrekTijdType" minOccurs="0" maxOccurs="2"/>
			<xsd:element name="ExacteAankomstVertraging" type="ExacteVertragingType" minOccurs="0"/>
			<xsd:element name="PresentatieAankomstVertraging" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="GedempteAankomstVertraging" type="GedempteVertragingType" minOccurs="0"/>
			<xsd:element name="VertrekTijd" type="AankomstOfVertrekTijdType" minOccurs="0" maxOccurs="2"/>
			<xsd:element name="ExacteVertrekVertraging" type="ExacteVertragingType" minOccurs="0"/>
			<xsd:element name="PresentatieVertrekVertraging" type="MeertaligeUitingenType" minOccurs="0"/>
			<xsd:element name="GedempteVertrekVertraging" type="GedempteVertragingType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InstapTipTreinSoortType">
		<xsd:annotation>
			<xsd:documentation>Geeft de commerciële benaming van de alternatieve trein aan. De InstapTipTreinSoort is gecodeerd door middel van het Code attribuut, voorbeeld van een Code is SPC. Het Code attribuut heeft maxLength=”3”. De maxLength van InstapTipTreinSoort kan niet door de XSD worden afgedwongen, omdat een beperking op een element dat tevens een attribuut heeft niet toegestaan is bij de constructie van een XSD. De stamtabel TreinSoort bevat de toegestane waarden.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Code" use="required">
					<xsd:simpleType>
						<xsd:restriction base="xsd:string">
							<xsd:maxLength value="3"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="AchterBlijvenMaterieelDeelType">
		<xsd:annotation>
			<xsd:documentation>
                Indicatie of het materieeldeel van de trein wel (=”J”) of niet (=”N”) achterblijft.
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="indicatie">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MaterieelWijzigingTypeType">
		<xsd:annotation>
			<xsd:documentation>
                Dit element geeft aan wat voor soort materieelwijziging er plaatsvind.
                (Combineer, splits, bijplaatsen, aftrappen)
            </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Combineren"/>
			<xsd:enumeration value="Splitsen"/>
			<xsd:enumeration value="Bijplaatsen"/>
			<xsd:enumeration value="Aftrappen"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="RitInfoAanmaaktijd">
		<xsd:annotation>
			<xsd:documentation>bevat de actuele tijd ten tijde van het opstellen van de RitInfo</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="RitInfoVersietype">
		<xsd:annotation>
			<xsd:documentation>Versienummer van RitInfo zoals door InfoPlus aangegeven.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RitInfoApplicatieVersietype">
		<xsd:annotation>
			<xsd:documentation>Applicatie versienummer van RitInfo zoals door InfoPlus aangegeven.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
</xsd:schema>
