src/main/resources/infoplus/das/NDOV_Med_DASPush_DASPushExport-v1.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2017-08-28	Marcel Sciarone	Levering DAS aan NDOV -->
<wsdl:definitions xmlns:das="urn:ndov:cdm:trein:reisinformatie:messages:dynamischeaankomststaat:1" xmlns:ns="urn:ndov:cdm:trein:reisinformatie:data:5" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:this="urn:ndov:cdm:trein:reisinformatie:messages:dynamischeaankomststaat:1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="urn:ndov:cdm:trein:reisinformatie:data:4" name="DASPushExport_InfoPlusDASInterfaceHttp_Service" targetNamespace="urn:ndov:cdm:trein:reisinformatie:messages:dynamischeaankomststaat:1">
	<wsdl:types>
		<xs:schema xmlns:tot="urn:ndov:cdm:trein:reisinformatie:data:4" xmlns:this="urn:ndov:cdm:trein:reisinformatie:messages:das:1" targetNamespace="urn:ndov:cdm:trein:reisinformatie:messages:dynamischeaankomststaat:1" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="urn:ndov:cdm:trein:reisinformatie:data:4" schemaLocation="ndov-ri-cdm-das-v4.0.xsd"/>
			<xs:element name="PutReisInformatieBoodschapIn">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tot:ReisInformatieProductDAS"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutReisInformatieBoodschapOut">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="das:ReisInformatieProductDASResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReisInformatieProductDASResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Success">
							<xs:annotation>
								<xs:documentation>Geeft aan of het bericht succesvol (OK) of niet succesvol (NOK) is aangekomen op het afnemende systeem</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OK"/>
									<xs:enumeration value="NOK"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ErrorCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>In geval van een foutsituatie (Success=NOK) vult het afnemende systeem dit veld met een unieke foutcode.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ErrorMessage" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>In geval van een foutsituatie (Success=NOK) vult het afnemende systeem dit veld met een relevante tekstuele omschrijving.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReisInformatieProductDASHeaderInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ESBTimeStamp" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PutReisInformatieBoodschapRequest">
		<wsdl:part name="PutReisInformatieBoodschapIn" element="das:PutReisInformatieBoodschapIn"/>
	</wsdl:message>
	<wsdl:message name="PutReisInformatieBoodschapResponse">
		<wsdl:part name="PutReisInformatieBoodschapOut" element="das:PutReisInformatieBoodschapOut"/>
	</wsdl:message>
	<wsdl:message name="ReisInformatieProductDASHeaderInfo">
		<wsdl:part name="Info" element="das:ReisInformatieProductDASHeaderInfo"/>
	</wsdl:message>
	<wsdl:portType name="InfoPlusDASInterface">
		<wsdl:operation name="PutReisInformatieBoodschap">
			<wsdl:input message="das:PutReisInformatieBoodschapRequest"/>
			<wsdl:output message="das:PutReisInformatieBoodschapResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DASPushExport_InfoPlusDASInterfaceHttpBinding" type="this:InfoPlusDASInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="PutReisInformatieBoodschap">
			<soap:operation soapAction="urn:#PutReisInformatieBoodschap"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="das:ReisInformatieProductDASHeaderInfo" part="Info" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DASPushExport_InfoPlusDASInterfaceHttpService">
		<wsdl:port name="DASPushExport_InfoPlusDASInterfaceHttpPort" binding="this:DASPushExport_InfoPlusDASInterfaceHttpBinding">
			<soap:address location="http:// 172.25.226.1/rcv-ns1-01/das.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
