src/main/resources/infoplus/dvs/NDOV_Med_DVSPush_DVSPushExport-v5.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 2013-08-14	Marcel Sciarone	RfC VHC-79 addendum verwijderen materiaal NDOV-->
<!-- 												Uit MaterieelDeelDVSType de velden MaterieelID en MaterieelNummer verwijderd. -->
<!-- 												Namespace nu urn:ndov:cdm:trein:reisinformatie:data:2 en -->
<!-- 												urn:ndov:cdm:trein:reisinformatie:messages:3 -->
<!--2015-05-21	Marcel Sciarone	DVS: In MaterieelDeelDVSType het veld MaterieelNummer toegevoegd voor NDOV. -->
<!--												DVS: TreinVertrekSpoor en TreinVleugelVertrekSpoor zijn optioneel geworden i.v.m. Trein Vervangend Vervoer (Bus) -->
<!-- 												Namespace nu urn:ndov:cdm:trein:reisinformatie:data:3 en -->
<!-- 												urn:ndov:cdm:trein:reisinformatie:messages:4 -->
<wsdl:definitions xmlns:dvs="urn:ndov:cdm:trein:reisinformatie:messages:5" xmlns:ns="urn:ndov:cdm:trein:reisinformatie:data:5" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:this="urn:ndov:cdm:trein:reisinformatie:messages:5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DVSPushExport_InfoPlusDVSInterfaceHttp_Service" targetNamespace="urn:ndov:cdm:trein:reisinformatie:messages:5">
	<wsdl:types>
		<xs:schema xmlns:tot="urn:ndov:cdm:trein:reisinformatie:data:4" xmlns:dvs="urn:ndov:cdm:trein:reisinformatie:messages:5" xmlns:this="urn:ndov:cdm:trein:reisinformatie:messages:5" targetNamespace="urn:ndov:cdm:trein:reisinformatie:messages:5" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<xs:import namespace="urn:ndov:cdm:trein:reisinformatie:data:4" schemaLocation="ndov-ri-cdm-dvs-v4.0.xsd"/>
			<xs:element name="PutReisInformatieBoodschapIn">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tot:ReisInformatieProductDVS"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PutReisInformatieBoodschapOut">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="dvs:ReisInformatieProductDVSResponse"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReisInformatieProductDVSResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Success">
							<xs:annotation>
								<xs:documentation>Geeft aan of het bericht succesvol (OK) of niet succesvol (NOK) is aangekomen op het afnemende systeem</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="OK"/>
									<xs:enumeration value="NOK"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ErrorCode" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>In geval van een foutsituatie (Success=NOK) vult het afnemende systeem dit veld met een unieke foutcode.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ErrorMessage" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>In geval van een foutsituatie (Success=NOK) vult het afnemende systeem dit veld met een relevante tekstuele omschrijving.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ReisInformatieProductDVSHeaderInfo">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ESBTimeStamp" type="xs:dateTime"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="PutReisInformatieBoodschapRequest">
		<wsdl:part name="PutReisInformatieBoodschapIn" element="dvs:PutReisInformatieBoodschapIn"/>
	</wsdl:message>
	<wsdl:message name="PutReisInformatieBoodschapResponse">
		<wsdl:part name="PutReisInformatieBoodschapOut" element="dvs:PutReisInformatieBoodschapOut"/>
	</wsdl:message>
	<wsdl:message name="ReisInformatieProductDVSHeaderInfo">
		<wsdl:part name="Info" element="dvs:ReisInformatieProductDVSHeaderInfo"/>
	</wsdl:message>
	<wsdl:portType name="InfoPlusDVSInterface">
		<wsdl:operation name="PutReisInformatieBoodschap">
			<wsdl:input message="dvs:PutReisInformatieBoodschapRequest"/>
			<wsdl:output message="dvs:PutReisInformatieBoodschapResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DVSPushExport_InfoPlusDVSInterfaceHttpBinding" type="this:InfoPlusDVSInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="PutReisInformatieBoodschap">
			<soap:operation soapAction="urn:#PutReisInformatieBoodschap"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="dvs:ReisInformatieProductDVSHeaderInfo" part="Info" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DVSPushExport_InfoPlusDVSInterfaceHttpService">
		<wsdl:port name="DVSPushExport_InfoPlusDVSInterfaceHttpPort" binding="this:DVSPushExport_InfoPlusDVSInterfaceHttpBinding">
			<soap:address location="http:// 172.25.226.1/rcv-ns1-01/dvs.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
